::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

body,
html{
  margin: 0;
  padding: 0;
}

div{
  user-select: none;
}

.window-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.window-container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
}

.window-title {
  text-align: center;
  color: #0078d7;
  font-size: 24px;
  font-weight: bold;
}

.input-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input-file {
  margin-right: 10px;
  padding: 5px;
}

button,
.upload-button{
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.upload-button {
  background-color: #ff8826;
  color: white;
}

.submit-button {
  background-color: #0078d7;
  color: white;
}

.image-section {
  text-align: center;
  width: 100%;
}

.section-title {
  font-size: 18px;
  color: #333;
}

.image-display {
  max-width: 100%;
  max-height: 400px;
  border: 1px solid #0078d7;
  border-radius: 5px;
}

.download-button {
  background-color: #28a745;
  color: white;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 10px 0 30px 0;

  a {
    color: #0078d7;
    text-decoration: none;
  }
}